.lots {
   &__container {
   }

   &__auction {
   }
   &__body {
      @include adaptive-value(margin-top, 50, 40, 1);
      @include adaptive-value(margin-bottom, 50, 40, 1);
   }

   &__row {
      display: flex;
   }

   &__col {
      flex: 0 1 33.333%;
   }

   &__item {
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
   }

   &__photo {
      position: relative;
      border: 3px solid $mainColor;
      text-align: center;
   }
   &__link {
      display: block;
      padding-bottom: 100%;
   }
   &__time {
      position: absolute;
      left: 50%;
      width: 100px;
      height: 100px;
      bottom: 0;
      font-size: 18px;
      transform: translate(-50%, 50%);
      display: flex;
      align-items: center;
      justify-content: center;
      &::before {
         content: "";
         width: 80%;
         height: 80%;
         position: absolute;
         left: 50%;
         background-color: #fff;
         top: 53.5%;
         z-index: -1;
         transform: translate(-50%, -50%) rotate(45deg);
      }
      &::after {
         content: "";
         background: url("../images/lots/icon/time.png") 0 0 no-repeat;
         width: 12px;
         height: 15px;
         position: absolute;
         left: 50%;
         top: 15px;
         transform: translateX(-50%);
         display: block;
      }
   }

   &__text {
      flex: 1 1 auto;
      margin-top: 30px;
      position: relative;
      z-index: 1;
      font-size: 21px;
      font-family: "PFDin";
      font-weight: 500;
      text-transform: uppercase;
   }

   &__info {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 100%;
      margin: 25px 0 35px;
   }

   &__num {
      flex: 0 0 50px;
      padding-top: 30px;
      padding-bottom: 5px;
      position: relative;
      transform: translateY(-50%);
      &::before {
         content: "";
         width: 25px;
         height: 25px;
         display: block;
         position: absolute;
         left: 50%;
         top: 0;
         transform: translateX(-50%);
      }
      &:first-child {
         &::before {
            background: url("../images/lots/icon/watch.png") no-repeat;
         }
      }
      &:last-child {
         &::before {
            background: url("../images/lots/icon/hummer.png") no-repeat;
         }
      }
      border-bottom: 1px solid $mainColor;
   }

   &__price {
      flex: 1 1 auto;
      position: relative;
      @media (max-width: 767px) {
         flex: 0 1 auto;
         margin: 0 10px;
      }
      &::before {
         content: "";
         position: absolute;
         left: 50%;
         top: 50%;
         width: 70px;
         height: 70px;
         transform: translate(-50%, -50%) rotate(45deg);
         border: 1px solid $mainColor;
         z-index: -1;
      }
   }

   &__bid {
      margin-bottom: 10px;
   }

   &__money {
      font-family: "BravoRG";
      color: #1c242a;
      @include adaptive-value(font-size, 50, 28, 1);
      font-weight: 500;
      span {
         display: block;
         font-size: 14px;
      }
   }
   &__btn {
      padding-top: 15px;
      padding-bottom: 15px;
      @include adaptive-value(padding-left, 30, 10, 1);
      @include adaptive-value(padding-right, 30, 10, 1);
      font-family: "PFDin";
      font-weight: 500;
      color: #000;
      @include adaptive-value(font-size, 21, 20, 1);
      text-transform: uppercase;
      border: 3px solid $mainColor;
      max-width: 220px;
      width: 100%;
      margin: 0 auto;
   }
   &__footer {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__all-lots {
      font-family: "PFDin";
      font-size: 21px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 100px;
      height: 100px;
      border-radius: 50%;
      border: 2px solid $mainColor;
      color: #000;
      @include adaptive-value(margin-right, 30, 15, 1);
      @include adaptive-value(margin-left, 30, 15, 1);
   }
   &__arrow {
      display: flex;
      align-items: center;
      flex: 0 1 113px;
      span {
         cursor: pointer;

         flex: 0 1 108px;
         height: 37px;
         background: url("../images/lots/icon/arrow.png") no-repeat;
      }
      &::after {
         content: "";
         margin-left: 5px;
         border: 2px solid $mainColor;
         flex: 0 0 11px;
         height: 11px;
         border-radius: 50%;
      }
      &:last-child {
         transform: rotate(180deg);
      }
   }
}
